<%= form_for(Recipe.new) do |f| %>
  <div class="recipe_name">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </div>
  
  <div class="recipe_description">
    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
  </div>

  Ingredients:<br/>   
  <%= f.fields_for :ingredient do |ingredient| %>
    <%= ingredient.text_field :name %></br>
    <%= ingredient.text_field :name %></br>
    <%= ingredient.text_field :name %></br>
    <%= ingredient.text_field :name %></br>
    <%= ingredient.text_field :name %></br>
  <% end %>


  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
