<% @recipe = Recipe.find(1) %>

<%= form_for(@recipe) do |f| %>
  <div class="recipe_name">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </div>
  
  <div class="recipe_description">
    <%= f.label :description %><br />
    <%= debug f.text_field :description %><br />
  </div>

  <% @recipe.recipe_ingredients.each do |assoc| %>
    <%= f.fields_for :recipe_ingredients, assoc do |ingredient| %>
       <%= ingredient.label assoc.ingredient.name %>
       <%= ingredient.check_box :id %>
    <% end %>
  <% end %>


  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
